
.page-header{
  border-top-color: #d4afb9;
  border-style: solid;
  border-bottom-color: black;
  border-left-style: none;
  border-right-style: none;
  margin:0;
  padding:0;
  height:auto;
  background-color:#d4afb9;
}

body{
  margin:0;
  padding:0;
}

.title{
  margin:0;
  padding:0;
  justify-content: center;
  display: flex;
  padding:50px;
  align-items: center;
  background: #AEC6CF;
  font-size: 60px;
  font-family:"Comic Sans MS", "Comic Sans", cursive;
  height:auto;
  min-width: 60px;
  margin: 2%;
}

a
{

  text-decoration:none;
  color:black;
}
.tabs{
background-color:#d1cfe2;
}

ul, li{
  background:;
  list-style-type: none;
  overflow: hidden;
  display: inline;
  float: center;
  text-align: center;
  margin:0 10px;
  font-size: 20px;
  color: #FFFFFFFF;

}

div.welcome{
  float:right;
  font-family:"Comic Sans MS", "Comic Sans", cursive;
  text-align:left;
  overflow:hidden;
}

img.image-me{
  float:left;
  height:496px;
  width:235px;
  margin-right:20px;
}
